# Ignore Python cache and compiled bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
.env/
.venv/

# Ignore local settings and secrets
local.settings.json

# Ignore function app settings file
config.js

# Ignore environment variables
.env

# Ignore VSCode settings
.vscode/

# Ignore deployment packages
deployment.zip

# Ignore log files
*.log

node_modules/

# Ignore Virtual Environment for testing
tests/test_venv
